.overlay-div {
    height: 75vh;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 25vh 0 0;
    width: 110vw;
    position: relative;
    left: -10vw;
    top: -5vh;
}

.overlay-text {
    z-index: 999;
}

.overlay-text h1 {
    font-size: 3rem;
    color: #e9ebe4;
    font-weight: 1000;
}

.overlay-text h5 {
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(243, 43, 43);
    letter-spacing: 10px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #3a0e11;
}

.overlay-text p {
    font-size: 2rem;
    font-weight: 800;
}

@media only screen and (min-width: 1000px) {

    .overlay-text h1{
        font-size: 3rem;
    }

    .overlay-text h5{
        font-size: 4rem;
    }

    .overlay-text p {
        font-size: 2rem;
    }

    .overlay-div {
        height: 60vh;
    }
}

