.overlay-div {
    height: 85vh;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35vh 0 0;
    width: 110vw;
    position: relative;
    left: -10vw;
    top: -5vh;
}

.overlay-text {
    z-index: 999;
}

.overlay-text h1, .overlay-text h5{
    transform: scale(1.0, 1.0);
    margin-top: 20px;
}

.overlay-text h1 {
    color: #e9ebe4;
    font-weight: 1000;
}

.overlay-text h5 {
    font-weight: 1000;
    color: rgb(243, 43, 43);
    letter-spacing: 10px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #3a0e11;
}

@media only screen and (min-width: 1000px) and (min-width: 1200px) {
    .overlay-div {
        height: 70vh;
        padding: 15vh 0 0;
    }
    .overlay-text h1, .overlay-text h5{
        transform: scale(1.5, 1.5);
    }
}

@media only screen and (min-width: 1300px) {
    .overlay-div {
        height: 60vh;
    }
   
}

