.loadGrid__gridItems{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5vh auto;
    padding: 0 15vw;
}

/* CARD */

.card-text-custom{
    /*  all the texts inside the card will have this size */
    font-size: 15px;
    color: #b87d11;
    text-align: center;
}

.card-image{
    width: 100%;
    margin: 10px auto;
    height: 200px;
    object-fit: center;
}

.no-overflow{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; 
}

.card {
    margin: 0 1vw ;
    padding: 0 !important;
    /* border: 1px solid gold; */
}

.card-body{
  padding: 12px; 
}

/* CARD */

/* button */

.divBtnOutline button{
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 1px solid gold;
    background-color: goldenrod !important;
    padding: 10px;
    color: white;
}

.divBtnOutline button:hover{
    color: gold;
}

/* button */

/* On screens that are 900px wide or more */

@media only screen and (min-width: 900px) {
   
}

/* On screens that are 1200px wide or less */

@media only screen and (max-width: 1200px) {
    .loadGrid__gridItems{
        grid-template-columns: repeat(3, 1fr);
   }

}

/* On screens that are 900px wide or less */

@media only screen and (max-width: 900px) {
    .loadGrid__gridItems{
       grid-template-columns: repeat(2, 1fr);   
       padding: 0 5vw;     
    }
    .card-image{
        width: 60%;
    }
      
}

/* On screens that are 600px wide or less */

@media only screen and (max-width: 600px) {
    
    .loadGrid__gridItems{
        margin: 0vw;
        grid-template-columns: 1fr;
        position: relative;
        padding: 0 10vw;     

   }

   hr{
        background-color: goldenrod !important;
        display: none; 
   }

}