.outerRow {
    margin: 0 10vw;
}

.loadRow__Items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    margin: 5vh auto;
    padding: 0 5vw;
}

.row {
    margin: 0 1vw;
}

p.title-info-1, p.card-text-1 {
    text-align: center;
    width: 100% !important;
    /*  all the texts inside the card will have this size */
    font-size: 15px;
    color: #b87d11;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.rowTitle {
    color: #b87d11;

    margin: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .loadRow__Items {
        grid-template-columns: repeat(3, 1fr);
    }
 
}

@media only screen and (max-width: 1000px) {
    .loadRow__Items {
        grid-template-columns: repeat(2, 1fr);
        margin: 0vw;
        column-gap: 40px;
    }
    .row {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 600px) {
    .cardTitle {
        height: 80px;
    }
    p.title-info-1 {
        display: none !important;
    }
    .card-body {
        padding: 0;
    }
}