.header-img {
   width: 50px;
}

.nav-colored {
   margin: auto;
   width: 80%;
   border-radius: 15px;
   margin-top: 20px;
   background-color: white;
}

.nav-transparent {
   width: 100%;
   border-radius: 0px;
   border: 0px solid red;
   font-weight: 900;
   box-shadow: 0 0 black;
   margin-top: 0px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99;
   background-color: transparent;
   color: black !important;
}

.nav-transparent span, .nav-transparent a, .nav-transparent div{
   color: goldenrod !important;

}

.nav-transparent a.nav-link:hover {
   background: transparent;
   font-size: larger;
   color: red !important; 
}

a.nav-link:hover {
   background: rgb(218, 214, 214);
   font-weight: bold;
}

.glow-icon {
   border: 1px solid white;
   border-radius: 50%;
   color: rgba(255, 255, 255, 1);
   box-shadow: goldenrod;
}
.navbar-toggler-special {
   position: absolute;
   top: 80vh;
   font-size: 15px;
   padding: 10px;
   -webkit-box-shadow: 5px 5px goldenrod;
   box-shadow: 5px 5px goldenrod;
   background-color: white;
   border: 1px solid goldenrod;
   border-radius: 50%;
   z-index: 999;
}

@media only screen and (min-width: 1000px) {
   
   .navbar-toggler-special {
      position: static;
      padding: 10px;
      -webkit-box-shadow: 0px 0px goldenrod;
      box-shadow: 0px 0px goldenrod;
      background-color: transparent;
      border: 0px solid goldenrod;
      border-radius: 0%;
   }
}