div.col-xs-12-imageWraper {
    text-align: center;
}

.w-100px{
    width: 100px;
}

.w-700px{
    width: 1000px;
}

.description-img {
    padding: 0;
    margin-bottom: 20px !important;
    min-width: 200px;
    max-width: 400px;
    
    /* height: 60%; */
    margin: 0 auto;
}

.frame {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    position: relative;
    z-index: 1;
    /* width: 322px;
    height: 242px; */
    border: 1px solid hsl(0, 38%, 75%);
    border-radius: 3px;
    background-color: #f7e4d7;
    padding: 18px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
}

.frame:after {
    position: absolute;
    z-index: 10;
    left: 18px;
    top: 18px;
    content: "";
    /* width: 320px;
    height: 240px; */
    box-shadow: inset 1px 0 3px 2px rgba(255, 78, 78, 0.4);
}

.md-form, .form-control {
    margin: 0 !important;
    padding: 0 inherit !important;
    display: inline !important;
    font-size: 12px;
}

tr, td {
    border: 1px solid transparent !important;
    padding: 0 initial !important;
}

label.description-label, hr.description-label {
    margin: 0;
    font-size: 20px !important;
}

div.row {
    padding: 20px 0 0 !important;
}

.description-img-left, .description-img-right {
    width: 40%;
    opacity: 0.5;
    margin-top: 10%;
}

.description-img-left {
    -webkit-transform: rotateZ(330deg);
    -ms-transform: rotate(330deg);
    transform: rotateZ(330deg);
}

.description-img-right {
    -webkit-transform: rotateZ(330deg);
    -ms-transform: rotate(330deg);
    transform: rotateZ(330deg);
}

.special-font p, .special-font td {
    font-size: 15.5px;
    font-weight: 400;
}

p {
    margin: 0 !important;
}

/* STARS */

* {
    margin: 0;
    padding: 0;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

/* STARS */

@media only screen and (max-width: 900px) {
    .mq-center {
        margin-top: 30px;
        text-align: center;
    }

    .w-700px{
        min-width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .add-padding {
        margin-top: 10px;
    }
    .description-img {
        max-width: 300px;
    }

    .w-700px{
        min-width: 400px;
    }
    
}

@media only screen and (max-width: 400px) {
    .w-700px{
        min-width: 300px;
    }
    
}

.add-edit-button{
    height: 50px; 
    padding: 0px; 
    width: 150px;
}

.edit-delete{
    cursor: pointer;
}

.edit-delete:hover{
    color: #ff4c4c;
}

.edit-delete:active{
    color: #ff4c4c;
}