.loadGrid__gridItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0vh auto 5vh;
    padding: 0 15vw;
}

/* CARD */

.card-text-custom {
    /*  all the texts inside the card will have this size */
    font-size: 15px;
    color: #b87d11;
    text-align: center;
}

.card-image {
    width: 80%;
    margin: 5% 10%;
    /* height: 200px; */
    object-fit: center;
    object-position: center;
}

.no-overflow {
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.card {
    margin: 0 1vw;
    padding: 0 !important;
    /* border: 1px solid gold; */
}

.card-body {
    padding: 12px;
}

/* CARD */

/* button */

.divBtnOutline button {
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid gold;
    background-color: goldenrod !important;
    padding: 10px;
    color: white;
}

.divBtnOutline button:hover {
    color: gold;
}

/* button */

/* On screens that are 900px wide or more */


/* On screens that are 1200px wide or less */

@media only screen and (max-width: 1000px) {
    .loadGrid__gridItems {
        grid-template-columns: repeat(2, 1fr);
        padding: auto 5vw;
        margin: 5vh 0;
    }

    .card-image {
        margin: auto
    }
}


/* On screens that are 600px wide or less */

@media only screen and (max-width: 600px) {

    .loadGrid__gridItems {
        grid-template-columns: 1fr;
    }

    hr {
        background-color: goldenrod !important;
        display: none;
    }

}