.newsletter-container {
    margin: 0 0 -20px;
    background-color: transparent;
    padding: 3vh 10vw;
}

.newsletter-container form span {
    margin-top: 10px !important;
}

.newsletter-container span input, .newsletter-container span textarea{
    font-size: 18px;
    background-color: transparent;
}

.newsletter-container span input:focus, .newsletter-container span textarea:focus{
    background-color: transparent;
    padding: 10px;
}

.newsletter-container span input[type="submit"] {
    width: 200px;
    font-size: 18px;
    padding: 10px;

}

.newsletter-container span textarea {
    width: 100%;
    height: 20vh;
}


@media (min-width: 1000px) {
    .newsletter-container {
        padding: 2em 30vw;
    }

    .newsletter-container span textarea {
        height: 13vh;
    }
    
}