.overlay-category-div {
    height: 50vh;
    display: block;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: auto;
    padding: 0;
    cursor: pointer;
}

.overlay-category-text {
    z-index: 100;
}

.overlay-category-text p {
    font-size: 2rem;
    font-weight: 800;
}

@media only screen and (min-width: 1000px) {

    .overlay-category-text p {
        font-size: 2rem;
    }
}
