label, .card-body{
    font-size: 14px !important;
}

.card-body div.row{
    padding: 5px initial !important;
}

span#basic-addon1{
    height: 32px !important;
}

.overflow-prevent{
    height: 60px;
    overflow: hidden;
    /* white-space:nowrap; */
    /* text-overflow:  doesn't work if above 3 properties aren't met ; */
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}