.hero-1{
    margin: 0;
    background-color: #552654;
    height: 70vh;
    width: 110vw;
    position: relative;
    left: -10vw;
    background-image: url("../assets/sport-mobile-apps-screen.png");
    background-repeat: no-repeat;
    background-position: right;
}

.hero-1 > div{
    position: absolute;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 20%; /* position the left edge of the element at the middle of the parent */

    transform: translate(0%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.hero-1 h1 {
    font-size: 6rem;
    color: #e9ebe4;
    font-weight: 1000;
}

.hero-1 h5 {
    font-size: 4.5rem;
    font-weight: 1000;
    color: rgb(243, 43, 43);
    letter-spacing: 10px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #3a0e11;
}

.hero-1 p {
    font-size: 2rem;
    font-weight: 800;
}


.carousel-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-wrapper img {
    width: 100%;
    object-fit: center;
    aspect-ratio: 1600/800 !important;
}


.gridNew {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 0px 100px;
    align-items: center;
}

.gridNew img {
    width: 100px;
}

@media only screen and (max-width: 900px) {
    .gridNew {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .gridNew img {
        width: 150px;
    }

    .font-myfirstFont {
        font-family: permenantMarker;
        font-size: 30px;
    }

    /* .carousel-wrapper img {
        aspect-ratio: 1600/1000 !important;
    } */
}

