/* Responsive design is impossible without this! */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .xs-below-invisible {
    display: none;
  }
}

@font-face {
  font-family: permenantMarker;
  src: url('./assets/PermanentMarker-Regular.ttf');
}

.customFont {
  font-family: permenantMarker;
}

.wrapper{
  margin-top: 150px;
}

.wrapper-2{
  margin-top: 200px;
}

body {
  background-color: #F6EFE8;
  overflow-x: hidden;
  margin-left: 0;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

label {
  font-size: 16px !important;
  font-weight: 400;
}

input {
  margin-left: 10px;
}

input:focus, select:focus, textarea:focus {
  outline: none !important;
  border: 1px solid goldenrod !important;
  box-shadow: 0 0 3px silver !important;
}

table.product-table{
  margin: 0px 25px;
}

table.product-table th, table.product-table td {
  border-top: 1px solid gold !important;
  border-bottom: 1px solid gold !important;
  box-shadow: 0px 0px 0px 0px white !important;
  border-collapse: collapse !important;
}

table.product-table tr{
  border: 1px solid gold !important;
}

.main-container{
  min-height: 70vh;
}

.font-larger{
  font-size: 15px !important;
}


.font-xl{
  font-size: 34px !important;
}

h1 {
  font-size: 2 em;
}

h5 {
  font-size: 1.5 em;
}

p {
  font-size: 1 em;
}


@media only screen and (min-width: 1000px) {
  h1 {
      font-size: 6 em;
  }

  h5 {
      font-size: 4.5 em;

  }

  p {
      font-size: 3 em;
  }

}