/* Responsive design is impossible without this! */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .xs-below-invisible {
    display: none;
  }
}

body {
  background-color: #F6EFE8;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

label {
  font-size: 16px !important;
  font-weight: 400;
}

input {
  margin-left: 10px;
}

input:focus, select:focus {
  outline: none !important;
  border: 1px solid goldenrod !important;
  box-shadow: 0 0 3px silver !important;
}

table.product-table{
  margin: 0px 25px;
}

table.product-table th, table.product-table td {
  border-top: 1px solid gold !important;
  border-bottom: 1px solid gold !important;
  box-shadow: 0px 0px 0px 0px white !important;
  border-collapse: collapse !important;
}

table.product-table tr{
  border: 1px solid gold !important;
}


/* table.product-table th{
  border: 1px solid gold !important;
}

table.product-table tr:last-child td{
  border-bottom: 1px solid gold !important;
} */

